In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import math

In [2]:
data=pd.read_csv('eurgbp_d.csv')

In [3]:
print(data.head(10))

         date     open     high      low    close       atr        rsi
0  14/03/2005  0.69890  0.69965  0.69730  0.69855  0.003425  65.792899
1  15/03/2005  0.69865  0.69905  0.69475  0.69555  0.003492  57.182835
2  16/03/2005  0.69530  0.69700  0.69420  0.69657  0.003439  59.140697
3  17/03/2005  0.69660  0.69710  0.69445  0.69484  0.003378  54.581967
4  18/03/2005  0.69475  0.69585  0.69301  0.69335  0.003337  50.939960
5  21/03/2005  0.69336  0.69535  0.69160  0.69379  0.003369  51.959376
6  22/03/2005  0.69370  0.69575  0.69303  0.69370  0.003319  51.722632
7  23/03/2005  0.69380  0.69630  0.69245  0.69474  0.003360  54.313121
8  24/03/2005  0.69460  0.69615  0.69183  0.69227  0.003434  47.758639
9  25/03/2005  0.69250  0.69360  0.69198  0.69265  0.003294  48.782690

In [4]:
#high-low
data['h-l']= data['high'] - data['low']

data.head()
#entry level buy orders
data['lev1b']= data['high']- data['h-l']*0.236
data['lev2b']= data['high']- data['h-l']*0.382
data['lev3b']= data['high']- data['h-l']*0.50
data['lev4b']= data['high']- data['h-l']*0.618
data['lev5b']= data['high']- data['h-l']*0.7647

#entry level sell orders
data['lev1s']= data['low']+ data['h-l']*0.236
data['lev2s']= data['low']+ data['h-l']*0.382
data['lev3s']= data['low']+ data['h-l']*0.50
data['lev4s']= data['low']+ data['h-l']*0.618
data['lev5s']= data['low']+ data['h-l']*0.7647

a is greater then b

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>atr</th>
      <th>rsi</th>
      <th>h-l</th>
      <th>lev1b</th>
      <th>lev2b</th>
      <th>lev3b</th>
      <th>lev4b</th>
      <th>lev5b</th>
      <th>lev1s</th>
      <th>lev2s</th>
      <th>lev3s</th>
      <th>lev4s</th>
      <th>lev5s</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>14/03/2005</td>
      <td>0.69890</td>
      <td>0.69965</td>
      <td>0.69730</td>
      <td>0.69855</td>
      <td>0.003425</td>
      <td>65.792899</td>
      <td>0.00235</td>
      <td>0.699095</td>
      <td>0.698752</td>
      <td>0.698475</td>
      <td>0.698198</td>
      <td>0.697853</td>
      <td>0.697855</td>
      <td>0.698198</td>
      <td>0.698475</td>
      <td>0.698752</td>
      <td>0.699097</td>
    </tr>
    <tr>
      <th>1</th>
      <td>15/03/2005</td>
      <td>0.69865</td>
      <td>0.69905</td>
      <td>0.69475</td>
      <td>0.69555</td>
      <td>0.003492</td>
      <td>57.182835</td>
      <td>0.00430</td>
      <td>0.698035</td>
      <td>0.697407</td>
      <td>0.696900</td>
      <td>0.696393</td>
      <td>0.695762</td>
      <td>0.695765</td>
      <td>0.696393</td>
      <td>0.696900</td>
      <td>0.697407</td>
      <td>0.698038</td>
    </tr>
    <tr>
      <th>2</th>
      <td>16/03/2005</td>
      <td>0.69530</td>
      <td>0.69700</td>
      <td>0.69420</td>
      <td>0.69657</td>
      <td>0.003439</td>
      <td>59.140697</td>
      <td>0.00280</td>
      <td>0.696339</td>
      <td>0.695930</td>
      <td>0.695600</td>
      <td>0.695270</td>
      <td>0.694859</td>
      <td>0.694861</td>
      <td>0.695270</td>
      <td>0.695600</td>
      <td>0.695930</td>
      <td>0.696341</td>
    </tr>
    <tr>
      <th>3</th>
      <td>17/03/2005</td>
      <td>0.69660</td>
      <td>0.69710</td>
      <td>0.69445</td>
      <td>0.69484</td>
      <td>0.003378</td>
      <td>54.581967</td>
      <td>0.00265</td>
      <td>0.696475</td>
      <td>0.696088</td>
      <td>0.695775</td>
      <td>0.695462</td>
      <td>0.695074</td>
      <td>0.695075</td>
      <td>0.695462</td>
      <td>0.695775</td>
      <td>0.696088</td>
      <td>0.696476</td>
    </tr>
    <tr>
      <th>4</th>
      <td>18/03/2005</td>
      <td>0.69475</td>
      <td>0.69585</td>
      <td>0.69301</td>
      <td>0.69335</td>
      <td>0.003337</td>
      <td>50.939960</td>
      <td>0.00284</td>
      <td>0.695180</td>
      <td>0.694765</td>
      <td>0.694430</td>
      <td>0.694095</td>
      <td>0.693678</td>
      <td>0.693680</td>
      <td>0.694095</td>
      <td>0.694430</td>
      <td>0.694765</td>
      <td>0.695182</td>
    </tr>
  </tbody>
</table>
</div>

a is greater then b

In [24]:
data['decision'] = np.where(data['h-l'] > data['atr'], 'trade', 'not')
print(data.head(10))

         date     open     high      low    close       atr        rsi  \
0  14/03/2005  0.69890  0.69965  0.69730  0.69855  0.003425  65.792899
1  15/03/2005  0.69865  0.69905  0.69475  0.69555  0.003492  57.182835
2  16/03/2005  0.69530  0.69700  0.69420  0.69657  0.003439  59.140697
3  17/03/2005  0.69660  0.69710  0.69445  0.69484  0.003378  54.581967
4  18/03/2005  0.69475  0.69585  0.69301  0.69335  0.003337  50.939960
5  21/03/2005  0.69336  0.69535  0.69160  0.69379  0.003369  51.959376
6  22/03/2005  0.69370  0.69575  0.69303  0.69370  0.003319  51.722632
7  23/03/2005  0.69380  0.69630  0.69245  0.69474  0.003360  54.313121
8  24/03/2005  0.69460  0.69615  0.69183  0.69227  0.003434  47.758639
9  25/03/2005  0.69250  0.69360  0.69198  0.69265  0.003294  48.782690

       h-l     lev1b     lev2b     lev3b     lev4b     lev5b     lev1s  \
0  0.00235  0.699095  0.698752  0.698475  0.698198  0.697853  0.697855
1  0.00430  0.698035  0.697407  0.696900  0.696393  0.695762  0.695765
2  0.00280  0.696339  0.695930  0.695600  0.695270  0.694859  0.694861
3  0.00265  0.696475  0.696088  0.695775  0.695462  0.695074  0.695075
4  0.00284  0.695180  0.694765  0.694430  0.694095  0.693678  0.693680
5  0.00375  0.694465  0.693917  0.693475  0.693033  0.692482  0.692485
6  0.00272  0.695108  0.694711  0.694390  0.694069  0.693670  0.693672
7  0.00385  0.695391  0.694829  0.694375  0.693921  0.693356  0.693359
8  0.00432  0.695130  0.694500  0.693990  0.693480  0.692846  0.692850
9  0.00162  0.693218  0.692981  0.692790  0.692599  0.692361  0.692362

      lev2s     lev3s     lev4s     lev5s decision    trade
0  0.698198  0.698475  0.698752  0.699097      not  nothing
1  0.696393  0.696900  0.697407  0.698038    trade  nothing
2  0.695270  0.695600  0.695930  0.696341      not  nothing
3  0.695462  0.695775  0.696088  0.696476      not  nothing
4  0.694095  0.694430  0.694765  0.695182      not  nothing
5  0.693033  0.693475  0.693917  0.694468    trade  nothing
6  0.694069  0.694390  0.694711  0.695110      not  nothing
7  0.693921  0.694375  0.694829  0.695394    trade  nothing
8  0.693480  0.693990  0.694500  0.695134    trade  nothing
9  0.692599  0.692790  0.692981  0.693219      not  nothing

In [26]:
data['trade'] = np.where(data['decision'] == 'trade', np.where(data['open'] < data['close'], 'buy', 'sell'), 'nothing')
print(data.head(10))

         date     open     high      low    close       atr        rsi  \
0  14/03/2005  0.69890  0.69965  0.69730  0.69855  0.003425  65.792899
1  15/03/2005  0.69865  0.69905  0.69475  0.69555  0.003492  57.182835
2  16/03/2005  0.69530  0.69700  0.69420  0.69657  0.003439  59.140697
3  17/03/2005  0.69660  0.69710  0.69445  0.69484  0.003378  54.581967
4  18/03/2005  0.69475  0.69585  0.69301  0.69335  0.003337  50.939960
5  21/03/2005  0.69336  0.69535  0.69160  0.69379  0.003369  51.959376
6  22/03/2005  0.69370  0.69575  0.69303  0.69370  0.003319  51.722632
7  23/03/2005  0.69380  0.69630  0.69245  0.69474  0.003360  54.313121
8  24/03/2005  0.69460  0.69615  0.69183  0.69227  0.003434  47.758639
9  25/03/2005  0.69250  0.69360  0.69198  0.69265  0.003294  48.782690

       h-l     lev1b     lev2b     lev3b     lev4b     lev5b     lev1s  \
0  0.00235  0.699095  0.698752  0.698475  0.698198  0.697853  0.697855
1  0.00430  0.698035  0.697407  0.696900  0.696393  0.695762  0.695765
2  0.00280  0.696339  0.695930  0.695600  0.695270  0.694859  0.694861
3  0.00265  0.696475  0.696088  0.695775  0.695462  0.695074  0.695075
4  0.00284  0.695180  0.694765  0.694430  0.694095  0.693678  0.693680
5  0.00375  0.694465  0.693917  0.693475  0.693033  0.692482  0.692485
6  0.00272  0.695108  0.694711  0.694390  0.694069  0.693670  0.693672
7  0.00385  0.695391  0.694829  0.694375  0.693921  0.693356  0.693359
8  0.00432  0.695130  0.694500  0.693990  0.693480  0.692846  0.692850
9  0.00162  0.693218  0.692981  0.692790  0.692599  0.692361  0.692362

      lev2s     lev3s     lev4s     lev5s decision    trade
0  0.698198  0.698475  0.698752  0.699097      not  nothing
1  0.696393  0.696900  0.697407  0.698038    trade     sell
2  0.695270  0.695600  0.695930  0.696341      not  nothing
3  0.695462  0.695775  0.696088  0.696476      not  nothing
4  0.694095  0.694430  0.694765  0.695182      not  nothing
5  0.693033  0.693475  0.693917  0.694468    trade      buy
6  0.694069  0.694390  0.694711  0.695110      not  nothing
7  0.693921  0.694375  0.694829  0.695394    trade      buy
8  0.693480  0.693990  0.694500  0.695134    trade     sell
9  0.692599  0.692790  0.692981  0.693219      not  nothing

In [27]:
data['Buy'] = np.where(data['trade'] == 'buy', 
                       data['lev1b'] * 0.2 + data['lev2b'] * 0.2 + data['lev3b'] * 0.2 + data['lev4b'] * 0.2 + data['lev5b'] * 0.2,
                       0)
print(data.head(10))

         date     open     high      low    close       atr        rsi  \
0  14/03/2005  0.69890  0.69965  0.69730  0.69855  0.003425  65.792899
1  15/03/2005  0.69865  0.69905  0.69475  0.69555  0.003492  57.182835
2  16/03/2005  0.69530  0.69700  0.69420  0.69657  0.003439  59.140697
3  17/03/2005  0.69660  0.69710  0.69445  0.69484  0.003378  54.581967
4  18/03/2005  0.69475  0.69585  0.69301  0.69335  0.003337  50.939960
5  21/03/2005  0.69336  0.69535  0.69160  0.69379  0.003369  51.959376
6  22/03/2005  0.69370  0.69575  0.69303  0.69370  0.003319  51.722632
7  23/03/2005  0.69380  0.69630  0.69245  0.69474  0.003360  54.313121
8  24/03/2005  0.69460  0.69615  0.69183  0.69227  0.003434  47.758639
9  25/03/2005  0.69250  0.69360  0.69198  0.69265  0.003294  48.782690

       h-l     lev1b     lev2b  ...     lev4b     lev5b     lev1s     lev2s  \
0  0.00235  0.699095  0.698752  ...  0.698198  0.697853  0.697855  0.698198
1  0.00430  0.698035  0.697407  ...  0.696393  0.695762  0.695765  0.696393
2  0.00280  0.696339  0.695930  ...  0.695270  0.694859  0.694861  0.695270
3  0.00265  0.696475  0.696088  ...  0.695462  0.695074  0.695075  0.695462
4  0.00284  0.695180  0.694765  ...  0.694095  0.693678  0.693680  0.694095
5  0.00375  0.694465  0.693917  ...  0.693033  0.692482  0.692485  0.693033
6  0.00272  0.695108  0.694711  ...  0.694069  0.693670  0.693672  0.694069
7  0.00385  0.695391  0.694829  ...  0.693921  0.693356  0.693359  0.693921
8  0.00432  0.695130  0.694500  ...  0.693480  0.692846  0.692850  0.693480
9  0.00162  0.693218  0.692981  ...  0.692599  0.692361  0.692362  0.692599

      lev3s     lev4s     lev5s  decision    trade       Buy
0  0.698475  0.698752  0.699097       not  nothing  0.000000
1  0.696900  0.697407  0.698038     trade     sell  0.000000
2  0.695600  0.695930  0.696341       not  nothing  0.000000
3  0.695775  0.696088  0.696476       not  nothing  0.000000
4  0.694430  0.694765  0.695182       not  nothing  0.000000
5  0.693475  0.693917  0.694468     trade      buy  0.693474
6  0.694390  0.694711  0.695110       not  nothing  0.000000
7  0.694375  0.694829  0.695394     trade      buy  0.694374
8  0.693990  0.694500  0.695134     trade     sell  0.000000
9  0.692790  0.692981  0.693219       not  nothing  0.000000

[10 rows x 21 columns]

In [28]:
data['Sell'] = np.where(data['trade'] == 'sell', 
                       data['lev1s'] * 0.2 + data['lev2s'] * 0.2 + data['lev3s'] * 0.2 + data['lev4s'] * 0.2 + data['lev5s'] * 0.2,
                       0)
print(data.head(10))

         date     open     high      low    close       atr        rsi  \
0  14/03/2005  0.69890  0.69965  0.69730  0.69855  0.003425  65.792899
1  15/03/2005  0.69865  0.69905  0.69475  0.69555  0.003492  57.182835
2  16/03/2005  0.69530  0.69700  0.69420  0.69657  0.003439  59.140697
3  17/03/2005  0.69660  0.69710  0.69445  0.69484  0.003378  54.581967
4  18/03/2005  0.69475  0.69585  0.69301  0.69335  0.003337  50.939960
5  21/03/2005  0.69336  0.69535  0.69160  0.69379  0.003369  51.959376
6  22/03/2005  0.69370  0.69575  0.69303  0.69370  0.003319  51.722632
7  23/03/2005  0.69380  0.69630  0.69245  0.69474  0.003360  54.313121
8  24/03/2005  0.69460  0.69615  0.69183  0.69227  0.003434  47.758639
9  25/03/2005  0.69250  0.69360  0.69198  0.69265  0.003294  48.782690

       h-l     lev1b     lev2b  ...     lev5b     lev1s     lev2s     lev3s  \
0  0.00235  0.699095  0.698752  ...  0.697853  0.697855  0.698198  0.698475
1  0.00430  0.698035  0.697407  ...  0.695762  0.695765  0.696393  0.696900
2  0.00280  0.696339  0.695930  ...  0.694859  0.694861  0.695270  0.695600
3  0.00265  0.696475  0.696088  ...  0.695074  0.695075  0.695462  0.695775
4  0.00284  0.695180  0.694765  ...  0.693678  0.693680  0.694095  0.694430
5  0.00375  0.694465  0.693917  ...  0.692482  0.692485  0.693033  0.693475
6  0.00272  0.695108  0.694711  ...  0.693670  0.693672  0.694069  0.694390
7  0.00385  0.695391  0.694829  ...  0.693356  0.693359  0.693921  0.694375
8  0.00432  0.695130  0.694500  ...  0.692846  0.692850  0.693480  0.693990
9  0.00162  0.693218  0.692981  ...  0.692361  0.692362  0.692599  0.692790

      lev4s     lev5s  decision    trade       Buy      Sell
0  0.698752  0.699097       not  nothing  0.000000  0.000000
1  0.697407  0.698038     trade     sell  0.000000  0.696901
2  0.695930  0.696341       not  nothing  0.000000  0.000000
3  0.696088  0.696476       not  nothing  0.000000  0.000000
4  0.694765  0.695182       not  nothing  0.000000  0.000000
5  0.693917  0.694468     trade      buy  0.693474  0.000000
6  0.694711  0.695110       not  nothing  0.000000  0.000000
7  0.694829  0.695394     trade      buy  0.694374  0.000000
8  0.694500  0.695134     trade     sell  0.000000  0.693991
9  0.692981  0.693219       not  nothing  0.000000  0.000000

[10 rows x 22 columns]